### Questions:
- Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.
- Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset
- Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.
- Write a Pandas program to find and drop the missing values from World alcohol consumption dataset
- Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset
- Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset
- Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset
- Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset
- Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset
- Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the world alcohol consumption dataset.
- Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset
- Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.
 import pandas as pd

In [1]:
import pandas as pd
import numpy as np
import matplotlib.py as plt
import seaborn as sns

In [2]:
alcohol = pd.read_excel("Alcohol Data.xlsx")
alcohol

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [3]:
alcohol.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [9]:
#Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.
#To display dimension

alcohol.shape

(100, 5)

In [89]:
alcohol.columns.tolist()

['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value']

In [11]:
#2.	Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset
alcohol.iloc[:2, :5]

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

In [151]:
alcohol[['Year', 'WHO region']].head()

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas

In [153]:
#3.	Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

alcohol.sample(n=10)

,Year,WHO region,Country,Beverage Types,Display Value
45,1989,Africa,Zimbabwe,Beer,0.19
79,1989,Europe,Finland,Other,2.09
81,1985,Europe,Netherlands,Wine,2.54
10,1987,Africa,Botswana,Wine,0.20
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70
11,1989,Americas,Guatemala,Beer,0.62
37,1986,Europe,Sweden,Beer,3.04
42,1984,Europe,Ukraine,Spirits,3.06
2,1985,Africa,Cte d'Ivoire,Wine,1.62
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08

In [157]:
#The fuction of sample is to pick rows randomly whereby the fraction is division of number of rows expecte to see
alcohol.sample(frac = 0.5)

,Year,WHO region,Country,Beverage Types,Display Value
76,1985,Africa,Comoros,Beer,0.02
91,1989,Europe,Bulgaria,Beer,4.43
3,1986,Americas,Colombia,Beer,4.27
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
78,1989,Americas,Jamaica,Other,0.00
47,1986,Americas,Mexico,Other,0.04
73,1986,Eastern Mediterranean,Pakistan,Other,0.01
51,1987,Europe,Finland,Beer,3.88
10,1987,Africa,Botswana,Wine,0.20
56,1987,Western Pacific,Viet Nam,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
68,1989,Africa,Uganda,Beer,0.12
37,1986,Europe,Sweden,Beer,3.04
48,1987,Americas,Nicaragua,Beer,0.70
88,1987,Eastern Mediterranean,Lebanon,Beer,0.42
96,1985,Europe,Luxembourg,Wine,7.38
41,1986,Europe,Czech Republic,Beer,6.82
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
13,1984,Eastern Mediterranean,Afghanistan,Other,0.00
72,1987,Africa,Mauritania,Other,0.00
43,1984,Western Pacific,China,Wine,0.03
7,1985,Africa,Angola,Spirits,0.39
92,1986,Africa,Eritrea,Spirits,0.00
17,1989,Africa,Seychelles,Beer,2.23
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
15,1987,Africa,Guinea-Bissau,Wine,0.07
85,1985,Africa,Democratic Republic of the Congo,Wine,0.01
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
28,1987,Western Pacific,Viet Nam,Beer,0.11
19,1984,Africa,Kenya,Beer,1.08
2,1985,Africa,Cte d'Ivoire,Wine,1.62
1,1986,Americas,Uruguay,Other,0.50
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
45,1989,Africa,Zimbabwe,Beer,0.19
81,1985,Europe,Netherlands,Wine,2.54
67,1989,Africa,Namibia,Beer,0.00
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08
63,1985,Eastern Mediterranean,Libya,Other,0.00
22,1984,Europe,Romania,Spirits,2.67
82,1987,Europe,Ireland,Spirits,2.25
55,1989,Americas,Suriname,Wine,0.04
75,1989,Eastern Mediterranean,Afghanistan,Other,0.00
33,1985,Africa,Mauritania,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
30,1986,Africa,Sierra Leone,Other,4.48

In [145]:
#4.	Write a Pandas program to find and drop the missing values from World alcohol consumption dataset

alcohol.dropna(axis = 0, inplace = True)

In [123]:
#To find mssing values

alcohol.isnull().sum()

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     0
dtype: int64

In [45]:
alcohol

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [47]:
alcohol.shape

(95, 5)

In [161]:
#5.	Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset

alcohol['WHO region'].duplicated().sum()

89

In [167]:
alcohol[alcohol['WHO region'] == 'Western Pacific']

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
28,1987,Western Pacific,Viet Nam,Beer,0.11
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
43,1984,Western Pacific,China,Wine,0.03
56,1987,Western Pacific,Viet Nam,Wine,0.00
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08

In [165]:
alcohol.drop_duplicates(subset = 'WHO region', keep = "first")

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

In [131]:
#6.	Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset

alcohol.groupby('Year').sum()

,WHO region,Country,Beverage Types,Display Value
Year,,,,
1984,AfricaEastern MediterraneanAmericasEuropeAfric...,NigeriaAfghanistanCosta RicaNorwayKenyaRomania...,OtherOtherWineSpiritsBeerSpiritsBeerOtherBeerS...,19.17
1985,AfricaAfricaWestern PacificWestern PacificEuro...,Cte d'IvoireAngolaLao People's Democratic Repu...,WineSpiritsBeerSpiritsWineOtherSpiritsOtherOth...,20.39
1986,Western PacificAmericasAmericasAmericasSouth-E...,Viet NamUruguayColombiaAntigua and BarbudaMyan...,WineOtherBeerSpiritsWineOtherWineWineBeerBeerO...,29.03
1987,AmericasAmericasAfricaAfricaAfricaWestern Paci...,Saint Kitts and NevisGuatemalaMauritiusBotswan...,BeerOtherWineWineWineBeerBeerOtherSpiritsSpiri...,13.99
1989,AmericasAfricaAmericasAfricaAfricaAmericasEuro...,GuatemalaSeychellesCosta RicaMauritiusZimbabwe...,BeerBeerSpiritsBeerBeerWineWineOtherBeerBeerBe...,22.21

In [17]:
#7.	Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset

alcohol[(alcohol['Year'] == 1987) | (alcohol['Year'] == 1989)].sort_values(by= 'Year')

,Year,WHO region,Country,Beverage Types,Display Value
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
88,1987,Eastern Mediterranean,Lebanon,Beer,0.42
82,1987,Europe,Ireland,Spirits,2.25
72,1987,Africa,Mauritania,Other,0.00
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
62,1987,Americas,Suriname,Other,0.00
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
51,1987,Europe,Finland,Beer,3.88
48,1987,Americas,Nicaragua,Beer,0.70
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
40,1987,Europe,Austria,Spirits,1.90
39,1987,Africa,Burkina Faso,Spirits,0.01
56,1987,Western Pacific,Viet Nam,Wine,0.00
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
5,1987,Americas,Guatemala,Other,0.00
6,1987,Africa,Mauritius,Wine,0.13
10,1987,Africa,Botswana,Wine,0.20
38,1987,Eastern Mediterranean,Qatar,Other,0.00
15,1987,Africa,Guinea-Bissau,Wine,0.07
93,1987,Africa,Madagascar,Other,NaN
28,1987,Western Pacific,Viet Nam,Beer,0.11
90,1989,Africa,Malawi,Wine,0.01
45,1989,Africa,Zimbabwe,Beer,0.19
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
32,1989,Africa,Mauritius,Beer,1.60
79,1989,Europe,Finland,Other,2.09
78,1989,Americas,Jamaica,Other,0.00
75,1989,Eastern Mediterranean,Afghanistan,Other,0.00
91,1989,Europe,Bulgaria,Beer,4.43
57,1989,Europe,Croatia,Wine,5.10
67,1989,Africa,Namibia,Beer,0.00
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
55,1989,Americas,Suriname,Wine,0.04
17,1989,Africa,Seychelles,Beer,2.23
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
68,1989,Africa,Uganda,Beer,0.12
65,1989,Eastern Mediterranean,Somalia,Beer,0.00

In [179]:
#8.	Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset

alcohol [(alcohol['WHO region'] == 'Americas') & (alcohol['Year'] == 1985)]

    Year WHO region                Country Beverage Types  Display Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

In [21]:
#9.	Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam'

alcohol[(alcohol['Year'] == 1986  & (alcohol['WHO region'] == 'Western Pacific') & (alcohol['Country'] == 'Viet Nam'))]

Empty DataFrame
Columns: [Year, WHO region, Country, Beverage Types, Display Value]
Index: []

In [203]:
#10.	Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the world alcohol 
#consumption dataset.



alcohol[((alcohol['Year']== 1986) | (alcohol['Year']== 1989))& ((alcohol['WHO region'] == 'Americas'))]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
47,1986,Americas,Mexico,Other,0.04
55,1989,Americas,Suriname,Wine,0.04
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
86,1986,Americas,Bahamas,Wine,1.83

In [207]:
#Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' 
#from the world alcohol consumption dataset

alcohol[((alcohol['Year'] == 1986) | (alcohol['Year'] == 1989)) & ((alcohol['WHO region'] == 'Americas') | (alcohol['WHO region'] == 'Europe'))]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
34,1986,Europe,Russian Federation,Wine,0.80
37,1986,Europe,Sweden,Beer,3.04
41,1986,Europe,Czech Republic,Beer,6.82
47,1986,Americas,Mexico,Other,0.04
49,1986,Europe,Malta,Wine,1.49
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
79,1989,Europe,Finland,Other,2.09
86,1986,Americas,Bahamas,Wine,1.83
91,1989,Europe,Bulgaria,Beer,4.43

In [229]:
#Alternatively

alcohol[(alcohol['WHO region'].isin(['Americas', 'Europe']))& (alcohol['Year'].isin([1986, 1989])) ]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
34,1986,Europe,Russian Federation,Wine,0.80
37,1986,Europe,Sweden,Beer,3.04
41,1986,Europe,Czech Republic,Beer,6.82
47,1986,Americas,Mexico,Other,0.04
49,1986,Europe,Malta,Wine,1.49
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
79,1989,Europe,Finland,Other,2.09
86,1986,Americas,Bahamas,Wine,1.83
91,1989,Europe,Bulgaria,Beer,4.43

In [211]:
#Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' 
#where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

newYear = alcohol[(alcohol['Year'] == 1986 )| (alcohol['Year'] == 1989)]
newYear

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
17,1989,Africa,Seychelles,Beer,2.23
20,1986,South-East Asia,Myanmar,Wine,0.00
21,1989,Americas,Costa Rica,Spirits,4.51
30,1986,Africa,Sierra Leone,Other,4.48
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
32,1989,Africa,Mauritius,Beer,1.60
34,1986,Europe,Russian Federation,Wine,0.80
37,1986,Europe,Sweden,Beer,3.04
41,1986,Europe,Czech Republic,Beer,6.82
45,1989,Africa,Zimbabwe,Beer,0.19
47,1986,Americas,Mexico,Other,0.04
49,1986,Europe,Malta,Wine,1.49
52,1986,Eastern Mediterranean,Saudi Arabia,Wine,0.00
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
65,1989,Eastern Mediterranean,Somalia,Beer,0.00
67,1989,Africa,Namibia,Beer,0.00
68,1989,Africa,Uganda,Beer,0.12
69,1986,Africa,Togo,Spirits,0.42
70,1986,Africa,Madagascar,Spirits,1.02
73,1986,Eastern Mediterranean,Pakistan,Other,0.01
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
75,1989,Eastern Mediterranean,Afghanistan,Other,0.00
78,1989,Americas,Jamaica,Other,0.00
79,1989,Europe,Finland,Other,2.09
84,1986,South-East Asia,Sri Lanka,Other,0.00
86,1986,Americas,Bahamas,Wine,1.83
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70
90,1989,Africa,Malawi,Wine,0.01
91,1989,Europe,Bulgaria,Beer,4.43
92,1986,Africa,Eritrea,Spirits,0.00

In [217]:
newYear[['WHO region', 'Country', 'Beverage Types']].head()

         WHO region              Country Beverage Types
0   Western Pacific             Viet Nam           Wine
1          Americas              Uruguay          Other
3          Americas             Colombia           Beer
8          Americas  Antigua and Barbuda        Spirits
11         Americas            Guatemala           Beer

In [237]:
countryYear = newYear[(newYear['WHO region'].isin(['Americas', 'Europe']))]
countryYear

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
34,1986,Europe,Russian Federation,Wine,0.80
37,1986,Europe,Sweden,Beer,3.04
41,1986,Europe,Czech Republic,Beer,6.82
47,1986,Americas,Mexico,Other,0.04
49,1986,Europe,Malta,Wine,1.49
55,1989,Americas,Suriname,Wine,0.04
57,1989,Europe,Croatia,Wine,5.10
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
79,1989,Europe,Finland,Other,2.09
86,1986,Americas,Bahamas,Wine,1.83
91,1989,Europe,Bulgaria,Beer,4.43